@import './colors';

.nav__large{
    position: relative;
    display: none;
  
  .nav__box1{
      position: fixed;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 91px;
      z-index: 10001;
      width: 100%;
      max-width: 1200px;
      background-color: #020202;
  
      a{
          cursor: pointer;
      }
  
      &-navitem{
          position: relative;
          padding: 0 10px;
          text-decoration: none;
          color: $white;
          transition: color .3s, transform .3s;
  
          &:hover{
              color: $gold;
              transform: scale(1.1);
          }
      }

      &-loginBtn{
          position: absolute;
          right: 0;
          color: $gold;
          padding: 10px 15px;
          cursor: pointer;
          text-decoration: none;

          
      }

      &-userMenuBtn{
          width: 150px;
          text-align: right;
          border: 1px solid transparent;
          &:hover{
              border: 1px solid $white;
          }

          &:hover .nav__box1-userMenu{
            display: block;
          }
      }

      &-userMenu{
          position: absolute;
          display: none;
          right: -1px;
          top: 38px;
          width: 150px;
          background-color: $black;
          border: 1px solid $white;
          padding: 10px 20px;
          
          li{
              list-style: none;
              padding: 8px 0;
              text-align: start;
              a{
                text-decoration: none;
                color: $white;
              }
          }
      }
  }
}

@media only screen and (min-width: 768px){
    .nav__large{
        display: flex;
    }
}