@import './colors';

.date{
  text-align: center;

  &__btns{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  &__btn{
    display: flex;
    width: 100px;
    height: 100px;
    flex-direction: column;
    padding: 10px 20px;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    border: 1px solid $white;
    margin: 10px 10px;
    border-radius: 8px;
    box-shadow: 0 0 5px $white;

    &-description{
      font-size: 2rem;
      color: $gold;
    }
  }

  .service__btn{
    margin: 30px 0;
  }
}

.hour{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 20px;

  &__btn{
    padding: 10px 20px;
    border: 1px solid $gold;
    border-radius: 5px;
    font-size: 2rem;
    margin: 10px 20px;
  }
  .service__btn{
    margin-bottom: 0;
  }
}