@import 'colors';

.progressBar{
  position: relative;
  display: flex;
  width: 100%;
  max-width: 800px;
  justify-content: space-around;
  padding: 50px 0;
  margin: 0 auto;
  // background-color: #fff;

  &__bar{
    background-color: $gold;
    position: absolute;
    left: 0;
    // width: 20%;
    height: 2px;
    top: 50%;
    transform: translateY(-50%);
    z-index: -2;
  }

  &__ball{
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid $gold;
    z-index: 1;

    &-text{
      position: absolute;
      top: -35px;
      left: 50%;
      transform: translateX(-50%);
      color: $gold;
      text-transform: uppercase;
    }
  }
}