@import './colors';

.employees{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 30px;
}

.employee{
  padding: 30px 20px;
  // border: 1px solid $white;
  box-shadow: 0 0 5px $gold;
  margin-bottom: 20px;
  border-radius: 8px;
  
  &__photo{
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border: 1px solid $gold;
  }

  &__name{
    font-size: 2.5rem;
    font-weight: bold;
    color: $gold;
    text-align: center;
    padding: 20px 0 0;
  }
}