@import 'colors';

.progressBar{
  position: relative;
  display: flex;
  width: 100%;
  max-width: 800px;
  justify-content: space-around;
  padding: 50px 0;
  margin: 0 auto;
  // background-color: #fff;

  &__bar{
    background-color: $gold;
    position: absolute;
    left: 0;
    // width: 20%;
    height: 2px;
    top: 50%;
    transform: translateY(-50%);
    z-index: -2;
  }

  &__ball{
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid $gold;
    z-index: 1;

    &-text{
      position: absolute;
      top: -35px;
      left: 50%;
      transform: translateX(-50%);
      color: $gold;
      text-transform: uppercase;
    }
  }

  &__btn{
    display: none;
  }
}

.service{
  position: relative;
  width: 100%;

  &__header{
    text-transform: uppercase;
    padding: 20px 0;
    font-size: 1.8rem;
    color: $gold;
    text-align: center;
    border: 1px solid #25292D;
    cursor: pointer;
  }

  &__list{
    position: relative;
    width: 100%;

    &-item{
      position: relative;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 50px;
      font-size: 1.6rem;
      cursor: pointer;

      &:nth-of-type(odd){
        background-color: #25292D;
      }

      &:nth-of-type(even){
        background-color: #1B1E22;
      }
    }

    &-checkbox-label{
      position: relative;

      input{
        position: absolute;
        opacity: 0;
        cursor: pointer;
        z-index: 999;
        width: 30px;
        height: 30px;
        top: -15px;
        left: -15px;
      }
    }

    &-checkbox-label .service__list-checkbox-custom{
      position: absolute;
      top: -12px;
      left: -12px;
      height: 24px;
      width: 24px;
      background-color: transparent;
      border-radius: 5px;
      border: 2px solid $white;
      cursor: pointer;
    }

    &-checkbox-label .service__list-checkbox-custom::after{
      position: absolute;
      content: '';
      left: 12px;
      top: 12px;
      height: 0;
      width: 0;
      border-radius: 5px;
      border: solid $black;
      border-width: 0 3px 3px 0;
      transform: rotate(0deg) scale(0);
      opacity: 1;
    }

    &-checkbox-label input:checked ~ .service__list-checkbox-custom{
      background-color: $white;
      transform: scale(1);
    }

    &-checkbox-label input:checked ~ .service__list-checkbox-custom::after{
      transform: rotate(45deg) scale(1);
      opacity: 1;
      left: 8px;
      top: 3px;
      width: 6px;
      height: 12px;
      border-width: 0 2px 2px 0;
      background-color: transparent;
      border-radius: 0;
    }
  }
}